<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizo_v1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizO_V1">
        <activity android:name=".MainSettingsActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7005689583364869~2743112013" />

        <activity
            android:name=".CreateQuizActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".QuizCreateNameActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".QuizAnswerActivity" />
        <activity
            android:name=".QuizListActivity"
            android:label="@string/title_activity_quiz_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuizO_V1.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>